site_name: Prismo

nav:
  - index.md

theme:
  name: material
  palette:
    scheme: slate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
